body{
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size:16px;
}
p{
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
.logo{
    max-width:112px;
}
a{
    color:#000000;
    text-decoration:none;
}
.nav{
    height:70px;
    display:initial;
}
.nav li a{
    font-weight:bold;
    font-size:12px;
}
.nav li{
    float: left;
    padding-top:10px;
}
.nav li a {
    display: block;
}
.nav li a:hover{
    background:transparent;
}
h1{
    font-size: 3em;
    font-style: normal;
    color: inherit;
    text-rendering: optimizeLegibility;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.4;
    color: #666666;
    font-weight:bold;
}
.reference{
    float:right;
    color: #666666;
    font-style: italic;
}
.btn-new{
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 1.15rem 2rem;
    overflow: hidden;
    border: 1px #00adef solid;
    font-weight: 600;
    background: none;
    background-color: rgba(0, 0, 0, 0);
    text-transform: uppercase;
    border-radius: 30px;
    text-decoration: none;
    letter-spacing: 0;
    background-color: #00adef;
    transition: all 250ms ease-out;
    color:#FFF;
    font-size:14px;
    transition: all .2s ease-in;
}
.btn-new:hover{
    letter-spacing: 2px;
    color:#FFF;
}
input{
    margin-top:20px;
}
.centerise{
    text-align:center;
}
.regular-checkbox{
    margin: 17px auto!important;
    text-align:center;
}
.checkbox{
    font-weight:normal;
}
.footer{
    background-color: #272930;
    padding-top:30px;
    padding-bottom:30px;
    color:#FFF;
}
.social-networks-list li{
    display:inline;
}
.footerLogo{
    max-width:112px;
    float:right;
}
.copyright{
    text-align:right;
    color:#FFF;
    font-size:12px;
}
.thanks{
    padding-top:200px;
    height:600px;
    text-align:center;
}